/* ********* commons ********* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display:table ;
    clear: both;
}
/* ********* header ********* */
.header-top, .header-bottom {
    margin-top: 20px;
}

#image {
    height: 50px;
}

nav li {
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    margin-right: 10px;
   
}
nav a {
    text-decoration: none;
    color:grey;
}

.header-bottom {
    height: 425px; 
    background: url("../img/banner.jpg") rgba(0, 0, 0, 0.4);
    background-position: center;
    position: relative;
    background-blend-mode: multiply;
    border-radius: 10px;
}


.text-header {
    width: 50%;
    padding: 50px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    margin-bottom: 5px;

}

.text-header h2, .text-header p {
    font-weight: lighter;
    color: white;

}
.text-header p{
    font-size: small;
}

/* ********* main ********* */
.container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.top-row h4 {
    color: grey;
    font-weight: lighter;

}

.box {
    float: left;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* #img-1, #img-2, #img-3 {
    height: 200px;
    background-blend-mode: multiply;
    border-radius: 10px;
    background-size: cover;
    background-position: center;


} */

.box h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box p {
    font-size: small;

}

.box:nth-child(2) {
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
}
/* ********* immagini main ********* */
#img-1 {
    background: url("../img/img-1.jpg") rgba(0, 0, 0, 0.4);
    height: 200px;
    background-blend-mode: multiply;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#img-2{
    background: url("../img/banner-2.jpg") rgba(0, 0, 0, 0.4);
    height: 200px;
    background-blend-mode: multiply;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#img-3{
    background: url("../img/img-3.jpg") rgba(0, 0, 0, 0.4);
    height: 200px;
    background-blend-mode: multiply;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* ********* footer ********* */
.footer {
    text-align: center;
    margin-bottom: 40px;
}
#heart {
    color: red;
    font-size: larger;
}


/* ********* debug ********* */
.debug .header-top {
    background-color: rgb(229,121,230);
}
.debug .header-bottom {
    background-color: rgb(225,214,122);
}

.container.debug{
    background-color: rgb(0, 135, 253);
}

.debug .box {
    background-color: rgb(171, 207, 231);
    height: 500px;
}

.debug .top-row {
    height: 100px;
    background-color: rgb(171, 207, 231);
}

.debug .footer {
    background-color: rgb(136, 1, 254);
}
.debug #logo {
    background-color: lightgray;
}
.debug nav {
    height: 50px;
    background-color: red;
}